<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FriendFeed</title>
    <style>
        body {
            width: 90vh;
            height: 100vh;
            margin: 0 auto;
            font-family: "Urbanist", sans-serif;
            display: flex;
            justify-content: center; 
            align-items: center; 
            background: linear-gradient(45deg, #49a09d, #5f2c82);
        }
        
        img {
            width: 20px;
        }
        
        .h3 {
            margin-bottom: 0;
        }
        
        .container {
            display: flex;
            justify-content: center; 
            align-items: center; 
            flex-direction: column;
            background-color: #55608f;
            border-radius: 60px;
            width: 700px;
            height: 400px;
            margin: 0 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); 
        }
        
        .input-container {
            padding: 5px 10px;
            width: 90%;
            height: 30px;
            background-color: rgba(255,255,255,0.3);
            display: flex;
            justify-content: center; 
            align-items: center; 
            margin-top: 10px;
            border-radius: 10px;
        }
        
        .input {
            border: none;
            margin-left: 10px;
            font-family: "Urbanist", sans-serif;
            font-size: 1rem;
            width: calc(100% - 20px); 
            background-color: transparent;
        }
        
        
        select {
            padding: 5px 10px;
            width: 90%;
            height: 30px;
            background-color: rgba(255,255,255,0.3);
            display: flex;
            justify-content: center; 
            align-items: center; 
            margin-top: 10px;
            border-radius: 10px;
        }
        
        #sign-btn {
            border: 0;
            margin-top: 20px;
            margin-left: 20px;
            width: 75%;
            height: 30px;
            border-radius: 4ch;
            background-color: rgba(255,255,255,0.3);
            color: black;
        }
        
        
        a {
            color: #49a09d; 
            text-decoration: none; 
        }
        
            </style>
</head>
<body>
    <div class="container">
        <h3>Fill form below to add Post</h3>
        <form action="" method="post" enctype="multipart/form-data">
            <input class="input-container" type="text" name="title" placeholder="Post Title">
            <textarea  class="input-container" name="content" id="" cols="30" rows="10" placeholder="Post Content"></textarea>
            <div class="input-container">
                <label for="">Upload Image</label>
                <input type="file" name="imageUrl" placeholder="Upload Image">
            </div>
            <select  class="input-container" name="CategoryId" id="">
                <% data.forEach((e) => { %>
                <option value="<%= e.id %>"> <%= e.name %></option>
                <% }); %>
            </select>
            <button class="sign-btn">Submit</button>
        </form>
    </div>
    

</body>
</html>