<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <% if (errorQuery){ %>
        <p style="color: red;"><%=errorQuery%></p>
      <% } %>
    <h3>Please fill form below to Sign up!</h3>  
    <form action="" method="post">
    <label for="">Username</label>
    <input type="text" name="username"> <br> <br>
    <label for="">Email</label>
    <input type="email" name="email"> <br> <br>
    <label for="">Password</label>
    <input type="password" name="password" > <br> <br>
    <button>Sign Up</button>
    </form>
</body>
</html>