body {
    background: linear-gradient(45deg, #49a09d, #5f2c82);
    color: #55608f; 
    font-family: "Urbanist", sans-serif;
}

.navbar {
    background-color: #55608f; 
}

.card {
    background-color: #f8f9fa;
}

a {
    color: #55608f; 
}

.btn-primary{
    background-color:#55608f; 
    border-color: #55608f; 
}

.btn-primary:hover{
    background-color:#49a09d; 
    border-color: #49a09d; 
}

.gedf-card {
    background-color: #ffffff; 
}

.gedf-card .card-header, .gedf-card .card-footer {
    background-color: #f8f9fa; 
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}body {
    background-color: #eeeeee;
}

.h7 {
    font-size: 0.8rem;
}

.gedf-wrapper {
    margin-top: 0.97rem;
}

@media (min-width: 992px) {
    .gedf-main {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .gedf-card {
        margin-bottom: 2.77rem;
    }
}

/**Reset Bootstrap*/
.dropdown-toggle::after {
    content: none;
    display: none;
}

